@import "_mixins";
@import "compass";

$sans-serif: Verdana, Arial, Helvetica, sans-serif;
$serif: serif;
$fontWeightNormal: normal;
$fontWeightMedium: 600;
$fontWeightBold: bold;

$orange: #f04e46;
$medGrey: #9A9A9A;
$white: #fff;
$mauve: #c4b9ce;
$yellow: #ffd75e;
$darkGrey: shade(#c4b9ce, 65%);
$mint: #c2e3d1;
$blue: #8ba9d8;
$sage: #e2ead3;
$ochre: #e0dd7e;
$linkColor: $orange;
$linkColorVisited: $medGrey;
$linkColorHoverFocus: $mauve;
$linkColorActive: $yellow;


/* ============================================== */
/* Insert Rebecca's custom classes & styles below */
/* ============================================== */

#container{
margin: 0 30px;
}
#ctl00_ctl00_Content_Content_passform {
    margin-left: 50px;
    margin-top: 30px;
}
.Topcells2{
background-color: transparent;
}
.Topcells2 a{
font-size: 14px;
color: #00693C;
}
.Topcells2 a:hover{
font-weight: bold;
}
.divCaptcha{
border: 0px;
padding-top: 15px;
}
.term_Inquiry{
border: 0;
font-size: 12px;
}
.ButtonsBG{
border: 0;
background-color: transparent;
}
table.tableBorder{
border: 0;
}
div.myCartItemSummary{
border: 0;
}
.status{
color: red;
font-weight: bold;
font-size: 12px;
}
#btnDefaultCss, #lbtnCss, #btnimgCss, #btnBuildCss {
    display: none;
}
div.myCartItemSummary{
border: 0;
}
#tblTitle{
font-size: 12px;
}
.TabBody{
font-size: 12px;
}
.button-small.searchcoursebutton{
background-color: #007272;
margin-top: -5px;
}
.button{
background-color: #007272;
}
.button.subtle{
background-color: #ffd701;
color: #007272;
}
.fontSizeB.lnkRegister{
color: #007272;
font-weight: bold;
font-size: 14px;
}
.fontSizeB.lnkLostPassword{
color: #007272;
font-weight: bold;
font-size: 14px;
}

/*----------RegisterButton------------*/
#ctl00_ctl00_Content_Content_Button{
color: #ffffff;
background-color: #003768;
padding-bottom: 5px;
border: none;
width: 100px;
height: 33px;
font-size: 18px;
}

/*----------FacultyRegisterButton------------*/
#ctl00_ctl00_Content_Content_btnAdopt{
color: #ffffff;
background-color: #003768;
padding-bottom: 5px;
border: none;
width: 200px;
height: 33px;
font-size: 18px;
}

/* typography */
html {
    font-family: $sans-serif;
    font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-bottom: .4em;
    font-weight: $fontWeightMedium;
    font-family: $sans-serif;
    margin-top: 0;
}
h1 {
    font-size: 1.802em;
}
h2 {
    font-size: 1.266em;
}
h3 {
    font-size: 1em;
}
h4 {
    font-size: .8em;
}
h5 {
    font-size: 1em;
    font-family: $serif;
    font-weight: $fontWeightBold;
}
p {
	margin-top: 0;
}
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
	margin-top: 0;
}
th {
	font-weight: $fontWeightBold;
}
td, b {
	font-weight: $fontWeightNormal;
}
#ctl00_ctl00_menu_v a {
    white-space: normal !important;
}
#navHorizontal {
    text-align: center;
    text-transform: uppercase;
    font-weight: $fontWeightBold;
    .AspNet-Menu-Link {
        padding: 1em;
    }
}
.vertical_menu {
    .AspNet-Menu > li {
        margin: 0 0 .7em;
    }
    ul {
        text-transform: uppercase;
        font-weight: $fontWeightBold;
        ul {
            font-weight: $fontWeightNormal;
            text-transform: none;
        }
        li ul li {
            padding: 0 0 .7em;
        }
        li ul li:last-child {
            padding-bottom: 0;
        }
    }
}
.vertical_menu#ctl00_ctl00_menu_v .AspNet-Menu--Open > ul,
.vertical_menu#ctl00_ctl00_menu_v .AspNet-Menu--Current > ul {
    padding: 0 0 0 1em;
    margin: 1em 0 1em .25em;
    overflow: hidden;
}
.AspNet-Menu--Current > .AspNet-Menu-Link {
    font-weight: $fontWeightBold;
}
#topSearch {
    #mySearchSubmit input {
        text-transform: uppercase;
        font-weight: bold;
    }
}
#socialNav,
#miniNav,
#navHorizontal,
.hours,
.information,
.socialNav2 {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
        }
    }
}
#miniNav {
    li:after {
        content: "|";
        margin-left: .3em;
        display: inline-block;
    }
    li#theCart {
        vertical-align: bottom;
    }
    li:last-child:after {
        content: "";
        margin: 0;
    }
}
#bottomNav {
    text-align: center;
    h4 {
        font-size: 1.2em;
    }
}
.location,
.hours,
.information,
.socialNav2 {
   display: inline-block;
   text-align: left;
   vertical-align: top;
    ul {
        li {
            display: block;
        }
    }
}
.socialNav2 ul li {
    display: inline-block;
}
.location,
.hours,
.information {
   margin-right: 3%;
}
#socialNav {
    margin-top: -1.6em;
}
.breadCrumbs {
    font-size: .8em;
    font-weight: $fontWeightNormal;
}
.errors,
.help {
    @include v-pixel-fallback ('line-height', 1rem);
}
.LocationBar {
	background-color: transparent;
    @include v-pixel-fallback ('font-size', 1.5rem);
	font-style: normal;
	font-weight: $fontWeightBold;
	color: $darkGrey;
    border: 0;
    padding-left: 0;
    margin-top: 0;
    text-align: center;
}
#ctl00_ctl00_Content_Content_CustRegLink,
#ctl00_ctl00_Content_Content_Hyperlink1,
.formCellDark {
    @include v-pixel-fallback ('font-size', 1rem);
}
#ctl00_ctl00_Content_Content_rptCourses_ctrl0_div_course_note > p, #ctl00_ctl00_Content_Content_rptCourses_ctrl1_div_course_note > p, #ctl00_ctl00_Content_Content_rptCourses_ctrl2_div_course_note > p, #ctl00_ctl00_Content_Content_rptCourses_ctrl3_div_course_note > p{
font-size: 17px;
}
.ButtonsBG {
	vertical-align: middle;
	text-align: right;
}
.AdoptTitleBG {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    @include v-pixel-fallback ('font-size', 1rem);
	font-style: normal;
	font-weight: $fontWeightBold;
	padding-left: 8px;
}
/* Mini Cart Module */
#dvCart {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    @include v-pixel-fallback ('font-size', 1rem);
	font-weight: $fontWeightBold;
	font-style: normal;
	padding-left: 4px;
	vertical-align: middle;
	text-decoration: none;
}
#ctl00_ctl00_Content_ctl01_dvHtmlContent {
    padding: 0 0 3%;
}
#ctl00_ctl00_Content_ctl02_dvHtmlContent {
    padding: 0 25% 3%;
    h2 {
        font-size: 1.6em;
        text-align: center;
    }
    p {
        font-size: 1.1em;
    }
}
#ctl00_ctl00_Content_ctl03_dvHtmlContent,
#ctl00_ctl00_Content_ctl04_dvHtmlContent,
#ctl00_ctl00_Content_ctl05_dvHtmlContent,
#ctl00_ctl00_Content_ctl06_dvHtmlContent,
#ctl00_ctl00_Content_ctl07_dvHtmlContent,
#ctl00_ctl00_Content_ctl08_dvHtmlContent {
    vertical-align: middle;
    h3 {
        font-size: 1.5em;
        text-align: center;
    }
    p {
        font-size: 1.1em;
        line-height: 1.4;
    }
}
.selectCol1 {
vertical-align: top;
padding: 0;
text-align: center;
}
.searchBox {
height: auto;
padding-top: 1em;
text-align: center;
}
.divSelectDept {
height: auto;
margin-top: 0;
overflow: auto;
text-align:center;
padding: .5em 0;
}
.courseSelect {
padding-top: .5em;
}
#content {
    font-size: 1em;
}
#quickInstruction P {
    font-size: inherit;
}
#ctl00_ctl00_ctl00_Content_Content_Content_lblWelcome {
    white-space: normal;
}
.pager {
font-size: 1em;;
}

/* layout */
table.tblbottom, .tblBottom td, .tblBottom {
    border-spacing: 0;
    border-collapse: collapse;
}
table.tblTop {
    border-spacing: 0;
    border-collapse: collapse;
}
div[id$="dvHtmlContent"] {
    min-width: 0% !important;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
img, embed, object, video {
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    _width: 100%;
}
.div_top_sec,
.div_bottom_sec {
    padding: 3%;
    width: 100%;
    position: relative;
}
.div_top_sec {
    padding: 3%;
}
.div_bottom_sec {
    margin-bottom: -3%;
}
.div_left_sec {
    width: 20%;
    display: none;
    visibility: hidden;
    .div_left_sec {
        width: 100%;
    }
}
.div_content_sec {
    width: 80%;
}
.div_content_sec {
    padding: 3%;
    .div_content_sec {
        padding: 0;
    }
}
.div_left_sec,
.div_content_sec {
    padding: 3%;
    .div_content_sec {
        padding: 0;
    }
}
/* Right Section */
.div_right_sec, #div_right_sec {
	/* Remove comment characters below to set width. */
	/* Remember that if the content within the DIV   */
	/* is wider than the value you set, by default   */
	/* the column will widen to accommodate content. */
	/* width: 16em; */
    display: none;
}
.tblTop,
.div_content_sec,
.tblBottom {
	width: 100%;
}
#topSearch,
#miniNav {
    float: right;
}
.home {
    .div_left_sec {
        display: none;
        visibility: hidden;
    }
    .div_content_sec {
        padding: 0;
    }
}
.search_v,
.div_footer_sec,
.div_privacy,
.righthelp,
.breadCrumbs,
.merchSearch {
    display: none;
    visibility: hidden;
}
td.breadCrumbs {
    display: inline;
    visibility: visible;
}
#topSearch {
    clear: right;
    height: 2em;
    width: 15em;
    margin: 1em 0 0 0;
    position: relative;
    #mySearchField input {
        width: 75% !important;
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: 0;
    }
    #mySearchSubmit input {
        width: 25% !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
    }
}
#socialNav {
    float: right;
}
#socialNav,
.socialNav2 {
    img {
        width: 1.6em;
        height: auto;
    }
}
#logo {
    width: 10%;
    margin: 0;
}
.tbl_left_cont_right {
    width: 100%;
    padding: 0;
    margin: 0;
}
/* horizontal nav */
#navHorizontal {
    .AspNet-Menu-Link {
        display: inline-block;
    }
}
/* vertical nav */
.js .vertical_menu li li {
    display:none;
}
.js .vertical_menu li.AspNet-Menu--Open,
.js .vertical_menu li.AspNet-Menu--Open>ul>li,
.js .vertical_menu li.AspNet-Menu--Current,
.js .vertical_menu li.AspNet-Menu--Current>ul>li {
    display:block;
}
.vertical_menu ul.AspNet-Menu ul {
    display: block;
    position: relative;
}
.galleria {
    width: 100%;
}
/* override for WebResource.axd... */
ul.AspNet-Menu li:hover ul ul, ul.AspNet-Menu li:hover ul ul ul, ul.AspNet-Menu li.AspNet-Menu-Hover ul ul, ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul, ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul, ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul ul ul {
    display: block !important;
}
/* Mini Cart Module */
#dvCart {
	width: 15.4em;
    display: none;
}
#ctl00_ctl00_Content_ctl03_dvHtmlContent,
#ctl00_ctl00_Content_ctl04_dvHtmlContent,
#ctl00_ctl00_Content_ctl05_dvHtmlContent,
#ctl00_ctl00_Content_ctl06_dvHtmlContent,
#ctl00_ctl00_Content_ctl07_dvHtmlContent,
#ctl00_ctl00_Content_ctl08_dvHtmlContent {
    /* width: 50%;
    padding: 3%;
    float: left;
    height: 16em; */
    display: none;
    visibility: hidden;
}
#btnDefaultCss, #lbtnCss, #btnimgCss, #btnBuildCss {
    display: none;
}
.LinkNormal {
    z-index: 9999;
    position: absolute;
}
.courseSub {
    width: 47%;
}
.tblCourseSelect {
    height: 350px;
    padding-bottom: 1em;
    padding-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

/* color */
a {
    color: $linkColor !important;
    text-decoration: none;
    border-bottom: 1px solid $linkColor !important;
    padding-bottom: 0;
}
a:visited {
    color: $linkColorVisited !important;
    border-bottom: 1px solid $linkColorVisited !important;
}
a:hover,
a:focus {
    color: $linkColorHoverFocus !important;
    border-bottom: 1px solid $linkColorHoverFocus !important;
}
a:active {
    color: $linkColorActive !important;
    border-bottom: 1px solid $linkColorActive !important;
}
.div_top_sec,
.div_bottom_sec {
    a {
        color: $white !important;
        border-bottom: 1px solid $white !important;
    }
    a:visited {
        color: $white !important;
        border-bottom: 1px solid $white !important;
    }
    a:hover,
    a:focus {
        color: $linkColorHoverFocus !important;
        border-bottom: 1px solid $linkColorHoverFocus !important;
    }
    a:active {
        color: $linkColorActive !important;
        border-bottom: 1px solid $linkColorActive !important;
    }
}
.div_top_sec {
    background: $orange url(http://insitestore3.mbsbooks.com/SiteImages/171-SchoolImages/171-top/171-0071_14_08_MF_9532-2-header-bg.jpg) no-repeat;
    background-size: cover;
    border-bottom: .75em solid $darkGrey;
}
.div_bottom_sec {
    a {
        color: $white !important;
        border-bottom: 1px solid $white !important;
    }
    a:visited {
        color: $medGrey !important;
        border-bottom: 1px solid $medGrey !important;
    }
    a:hover,
    a:focus {
        color: $linkColorHoverFocus !important;
        border-bottom: 1px solid $linkColorHoverFocus !important;
    }
    a:active {
        color: $linkColorActive !important;
        border-bottom: 1px solid $linkColorActive !important;
    }
    background: $darkGrey url(http://insitestore3.mbsbooks.com/SiteImages/171-SchoolImages/171-bottom/171-0070_14_08_KR_0073-footer-bg.jpg) no-repeat;
    background-size: cover;
}
#topSearch {
    color: $white;
}
.AspNet-Menu-Link {
    color: $orange !important;
}
.AspNet-Menu-Link:visited {
    color: $orange !important;
}
.AspNet-Menu-Link:hover,
.AspNet-Menu-Link:focus {
    color: $linkColorHoverFocus !important;
}
.AspNet-Menu-Link:active {
    color: $linkColorActive !important;
}
#navHorizontal {
    .AspNet-Menu-Link {
        color: $white !important;
    }
    .AspNet-Menu-Link:visited {
        color: $white !important;
    }
    .AspNet-Menu-Link:hover,
    .AspNet-Menu-Link:focus {
        color: $linkColorHoverFocus !important;
    }
    .AspNet-Menu-Link:active {
        color: $linkColorActive !important;
    }
}
.vertical_menu#ctl00_ctl00_menu_v .AspNet-Menu--Open ul,
.vertical_menu#ctl00_ctl00_menu_v .AspNet-Menu--Current ul {
    border-left: 2px solid $mauve;
}
.AspNet-Menu--Current > .AspNet-Menu-Link {
    color: $darkGrey !important;
}
#miniNav {
    li:after {
        color: $white;
    }
}
#logo a:link,
#socialNav a:link,
.socialNav2 a:link,
.AspNet-Menu-Link:link {
    border-bottom: none !important;
}
#topSearch {
    #mySearchSubmit input {
        background-color: $yellow;
        border: none;
        color: $orange;
    }
}
body {
	background-color: $white;
	color: $darkGrey;
}
.div_top_sec {
    background-color: $orange;
}
.div_bottom_sec {
    background-color: $darkGrey;
    color: $white;
}
#navHorizontal {
    background-color: $darkGrey;
    .AspNet-Menu-Link {
        color: $white;
    }
}
.formCellDark{
background-color: transparent;
}
.formCellLite{
background-color: transparent;
}
#ctl00_ctl00_Content_Content_CustRegLink,
#ctl00_ctl00_Content_Content_Hyperlink1,
.formCellDark {
    color: $darkGrey;
}
.img_cart {
	/* Remove comment if you wish to not show  */
	/* the shopping cart icon image. You can   */
	/* then use a different image by setting   */
	/* the BACKGROUND-IMAGE property for       */
	/* #dvCart above.                          */
	/* display: none; */
	border: none;
}
/*styles textbook notes*/
#ctl00_ctl00_Content_Content_rptCourses_ctrl0_lblCourseNotes,  #ctl00_ctl00_Content_Content_rptCourses_ctrl1_lblCourseNotes, #ctl00_ctl00_Content_Content_rptCourses_ctrl2_lblCourseNotes,#ctl00_ctl00_Content_Content_rptCourses_ctrl3_lblCourseNotes, #ctl00_ctl00_Content_Content_rptCourses_ctrl4_lblCourseNotes{
color: #ffffff;
}
#ctl00_ctl00_Content_Content_rptCourses_ctrl0_div_course_note, #ctl00_ctl00_Content_Content_rptCourses_ctrl1_div_course_note, #ctl00_ctl00_Content_Content_rptCourses_ctrl2_div_course_note, #ctl00_ctl00_Content_Content_rptCourses_ctrl3_div_course_note{
background-color: red;
}
.ButtonsBG {
	background-color: #EEEEEE;
}
.AdoptTitleBG {
	color: #000000;
	background-color: #CCCCCC;
}
#dvCart {
	background-color: #7795BD;
	color: #0000FF;
	border-width: 1px;
	border-color: #648ABD;
	text-decoration: none;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center right;
	background-attachment: scroll;
}
#ctl00_ctl00_Content_ctl03_dvHtmlContent {
    background-color: $mint;
}
#ctl00_ctl00_Content_ctl04_dvHtmlContent {
    background-color: $blue;
}
#ctl00_ctl00_Content_ctl05_dvHtmlContent {
    background-color: $sage;
}
#ctl00_ctl00_Content_ctl06_dvHtmlContent {
    background-color: $mauve;
}
#ctl00_ctl00_Content_ctl07_dvHtmlContent {
    background-color: $ochre;
}
#ctl00_ctl00_Content_ctl08_dvHtmlContent {
    background-color: $orange;
}
#ctl00_ctl00_Content_ctl03_dvHtmlContent,
#ctl00_ctl00_Content_ctl04_dvHtmlContent,
#ctl00_ctl00_Content_ctl05_dvHtmlContent,
#ctl00_ctl00_Content_ctl06_dvHtmlContent,
#ctl00_ctl00_Content_ctl07_dvHtmlContent,
#ctl00_ctl00_Content_ctl08_dvHtmlContent {
}
.homeCourseMaterials {
    background: $darkGrey url(http://insitestore3.mbsbooks.com/vassarsandbox/SiteImages/171-SchoolImages/171-content/171-0070_14_08_KR_0116.jpg) no-repeat;
    background-size: cover;
    height: 31em;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    margin: 2em 0;
    p {
        background-color: shade($mauve, 60%);
        padding: 1em;
    }
    .button {
       position: absolute;
       bottom: 2em;
       left: 50%;
       width: 15em;
       margin-left: -7.5em;
       border: .15em solid $darkGrey;
       -webkit-box-shadow: 0 0 1em .3em $darkGrey;
       box-shadow: 0 0 1em .3em $darkGrey;
       background-color: $orange;

       a, 
       a:visited {
            color: #fff !important;
            border-bottom: none !important;
        }
    }
    .button:hover {
        background-color: $darkGrey;
    }
    .button:active {
        background-color: $mauve;
    }
}

